/*
#gameblock {
  background: rgb(36, 50, 69);
  border-radius: 25px;
  margin: 10px 20px;
}

#gameScreen {
  border: 3px solid black;
}
*/
.game {
  display: flex;
  justify-content: center;
}

#gameContainer {
  margin: 0 auto;
}

#image_ball,
#image_brick {
  display: none;
}
