#panel {
  position: relative;
}

#image_container > img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#title_list {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 560px;
  height: 60px;
  padding: 20px;
  color: white;
  border: 3px solid rgb(36, 50, 69);
  border-radius: 25px;
}

#title_facts {
  display: block;
  position: absolute;
  top: 20px;
  left: 660px;
  width: 800px;
  height: 60px;
  padding: 20px;
  color: white;
  border: 3px solid rgb(36, 50, 69);
  border-radius: 25px;
}

#fact_info {
  display: block;
  position: absolute;
  top: 140px;
  left: 660px;
  width: 800px;
  height: 500px;
  padding: 20px;
  font-weight: bold;
  font-size: 2vw;
  color: white;
  text-shadow: 3px 4px navy;
  background: rgba(75, 200, 238, 0.185);
  border: 3px solid rgb(36, 50, 69);
  border-radius: 25px;
  list-style: none;
}

#full_list {
  display: block;
  position: absolute;
  top: 140px;
  left: 20px;
  width: 560px;
  height: 500px;
  padding: 20px;
  overflow-y: auto;
  color: white;
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
  border: 3px solid rgb(36, 50, 69);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.post {
  list-style: none;
  background: transparent;
  padding: 10px;
}

.post:nth-child(odd) {
  background: rgba(75, 200, 238, 0.185);
}

#employee_count {
  padding: 0 20px;
  text-shadow: 3px 4px navy;
}

#employee_count > li {
  list-style: none;
  font-weight: bold;
  font-size: 30px;
}

#employee_count > li:first-child {
  color: yellow;
}

#reference_block {
  display: block;
  position: absolute;
  left: -140px;
  padding: 12px 20px;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/*

#image_container {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #main_image {
    width: 100vw;
    height: auto;
    margin: 0px;
  }
  

  
  
  

  
  #facts {
    display: block;
    position: absolute;
    padding: 0 20px;
    left: 26vw;
    top: 16vh;
    width: 33vw;
    height: 60vh;
    color: white;
    font-weight: normal;
  }
  

  
  #employee_count {
    padding: 0 20px;
    text-shadow: 3px 4px navy;
  }
  
  #employee_count > li {
    font-weight: bold;
    font-size: 30px;
  }
  
  #employee_count > li:first-child {
    color: yellow;
  }
  
  .info_block_2 {
    display: block;
    float: right;
    position: relative;
    margin-right: 20px;
    width: 30vw;
    top: 200px;
    padding: 12px;
    border: 3px solid gold;
    color: white;
    background-color: black;
  }
  
  #go_back {
    display: block;
    position: absolute;
    text-align: center;
    top: 92vh;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    font-size: 20px;
    background-color: gainsboro;
  }
  */
