/*
.main_container {
}
*/

/*
MIT color logo rgb(163, 31, 52);
*/

/*asterisk select all in the page, this specific style remove all default sets*/
* {
  margin: 0;
  padding: 0;
  /*list-style: none;*/
  text-decoration: none;
}

.title_block {
  background-color: green;
  padding: 30px;
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.image_reference {
  color: white;
  margin: 0px 50px 0px 50px;
  float: right;
}

/*
img {
  position: relative;
}
*/
/*****************************************************New Set***********/

/*Create Variables on CSS*/
:root {
  --main-radius: 25px;
  --main-padding: 5px;
}

.main_container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

nav {
  grid-column: 1/-1;
  background: rgb(36, 50, 69);
  height: 200px;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.sidebar {
  grid-column: 1/2;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

main {
  grid-column: 2/-1;
  border-radius: var(--main-radius);
  font-weight: 300;
  font-size: 20px;
}

.main,
.index,
.resume,
.about,
.contact {
  border-radius: var(--main-radius);
  border: 3px solid rgb(36, 44, 54);
}

.resume,
.about {
  grid-column: 2/15;
}

.title_block {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.welcome,
.weekly,
.instructions {
  border: 3px solid rgb(36, 44, 54);
  border-radius: var(--main-radius);
  padding: 60px;
  text-align: center;
}

.welcome {
  margin: 20px;
}

.instructions {
  margin: 20px;
}

#notification {
  background: lightcoral;
}

.welcome > h1 {
  color: rgb(36, 44, 54);
  font-size: 3vw;
}

.welcome > p {
  margin: 50px;
  font-size: 30px;
}

.instructions > p {
  margin: 50px;
  font-size: 30px;
}

.welcome > iframe {
  margin: 50px 0;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px 80px;
  column-gap: 5px;
  row-gap: 5px;
  color: white;
}

#name {
  grid-column: 1/4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6vw;
  font-weight: 400;
  margin-left: 20px;
}

#portfolio {
  grid-column: 1/4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2vw;
  margin: 18px 20px;
}

#image_frame {
  grid-column: 4/-1;
  grid-row: 1/-1;
  margin-top: 20px;
  margin-right: 20px;
}

#image_id {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  float: right;
}

.content {
  grid-column: 15/-1;
  border-radius: var(--main-radius);
  border: 3px solid rgb(36, 44, 54);
  text-align: center;
  float: right;
}

#content1 {
  width: 300px;
  height: auto;
  top: 10px;
}

#content1 > img {
  padding: 20px 0;
  margin: 5px;
  width: 14em;
}

footer {
  background: rgb(105, 141, 170);
  border-top: 2px solid #142369;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  width: 98%;
  height: 60px;
  color: white;
}

.designer {
  float: right;
  margin: 20px;
  font-size: 20px;
  font-weight: 400;
}

#go_back {
  font-weight: 200px;
  font-size: 50px;
  background-color: white;
}

/* This make my objects stack on top of each other instead of next to each other, on smaller screens */
@media only screen and (max-width: 550px) {
  .main_container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr auto;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3";
  }
  .flyer_block,
  #joeid,
  .tutorials_list {
    width: 100%;
    height: auto;
  }
}
