#bouncearea {
  display: flexbox;
  width: 800px;
  height: 600px;
  position: relative;
  background-color: #f0f0f0;
  margin: 1em auto;
}

.createdball {
  background-color: black;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

/*

.no {
  display: block;
  position: relative;
}
*/
/*
#bouncearea {
  position: relative;
  background-color: #f0f0f0;
  margin: 1em auto;
}

.createdball {
  background-color: black;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}
*/
